:root {
    --font-family:'Poppins', sans-serif;
    --anchor-color:#1890ff;
    --button-color: #1890ff; 
    --button-color-hover: #1471c7;
    --button-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    --button-radius:60px;
    --button-text-color:#fff;
    --block-header-color: #fff;
    --background-color: #f5f6f7; 
    --text-field-labels: #8695ab; 
    --text-field: #000;
    --card-header: #ebeef5;
    --card-header-text:#000;
    --card-body: #fff; 
    --card-shadow: 0px 2px 2px rgba(2, 13, 29, 0.1);
    --card-border: rgba(0, 0, 0, 0);
    --global-nav-icons: #fff; 
    --global-nav-color: #001a49;
    --global-search-width:16vw;
    --global-search-bar-color: var(--background-color);
    --global-search-bar-border: #d4d9e1;
    --global-search-button: #fff;
    --global-nav-icons-text: #fff;
    --global-search-bar-icon: #1890ff;
    --global-search-border: 4px;
    --hamburger-icon: #444;
    --top-nav-menu-border: #ddd;
    --top-nav-menu: #fff; 
    --top-nav-text: #444;
    --top-nav-text-selected: #1890ff;
    --top-nav-bottom-border-selected: #1890ff;
    --top-nav-hover-color: #1890ff1a;
    --left-nav-border: #ddd;
    --left-nav: #fff;
    --left-nav-icons-color: #1890ff;
    --left-nav-text: #8695ab;
    --left-nav-text-selected: #1890ff;
    --left-nav-selected-background: #dee5f0;
    --left-nav-selected-border: #1890ff;
    --left-nav-hovered-background: var(--left-nav-selected-background);
    --left-nav-hovered-border: var(--left-nav-selected-border);
    --left-nav-text-children: var(--left-nav-text);
    --left-nav-text-children-selected: var(--left-nav-text-selected);
    --left-nav-static-top-color: #fff;
    --table-background-color-odd:#fff;
    --table-background-color-even:#fff;
    --table-border-color: #ddd;
    --table-text:#000; 
    --table-header:#000;
    --page-header-color: #000;
    --scroll-bar-color: #d9dbd9;
    --body-text-color:#000;
    --info-background: #004AC1;
    --error-background: #004AC1; 
    --portal-pane-header-color:#000;
    --portal-pane-header-font-size:1.15em;
    --portal-pane-header-font-weight:800;
    --portal-pane-padding:.5em;
    --portal-pane-radius:12px;
    --portal-pane-shadow:0px 10px 20px rgba(18, 38, 63, 0.03);
}

